<div class="container">
    <div class="row text-center">
        <h2> خزائن المصروفات</h2>
        <div id="menu-box">


            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametrage/banque']">
                <div class="container-block">

                    <div class="block2">
                        <span class="LabelCard">فاتورة مورد</span>
                        <p class="LabelCardDetails"> فاتورة مورد ...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                </div>
            </div>


            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametrage/banque']">
                <div class="container-block">

                    <div class="block2">
                        <span class="LabelCard">سداد فاتورة مورد</span>
                        <p class="LabelCardDetails"> سداد فاتورة مورد...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                </div>
            </div>

            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_depense/edition']">
                <div class="container-block">

                    <div class="block2">
                        <span>البيانات </span>
                        <p>البيانات ...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-print"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>