<div class="container">
    <div class="row text-center">
        <h2>  الإستقبال و الحجز </h2>
        <div id="menu-box">
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_reception/reception']">
                <div class="container-block">
                    <div class="block2">
                        <span class="LabelCard"> الإستقبال </span>
                        <p class="LabelCardDetails"> الإستقبال...</p>

                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-person-circle-plus"></i>
                    </div>

                    <div *ngIf="HaveFactureFrsNonApprouver" class="block3">
                        <p-tag [title]="warningMessageFactFrs" icon="pi pi-exclamation-triangle" severity="warning" value="Warning" />
                    </div>

                </div>
            </div>
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_reception/reservation']">
                <div class="container-block">
                    <div class="block2">
                        <span class="LabelCard"> الحجز</span>
                        <p class="LabelCardDetails"> الحجز...</p>
                    </div>
                    <div class="block1"> 
                        <i class="fa-solid fa-spinner"></i> 
                    </div>
                    <div *ngIf="HaveRegFactureFrsNonApprouver" class="block3">
                        <p-tag [title]="warningMessageRegFactFrs" icon="pi pi-exclamation-triangle" severity="warning" value="Warning" />
                    </div>
                </div>
            </div>
            
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_reception/transfert_chambre']">
                <div class="container-block">

                    <div class="block2">
                        <span class="LabelCard"> تحويل غرقة </span>

                        <p class="LabelCardDetails">تحويل غرقة ...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-right-left"></i>
                    </div>
                    <div *ngIf="HaveFacturePresNonApprouver" class="block3">
                        <p-tag icon="pi pi-exclamation-triangle" severity="warning" value="Warning" />
                    </div>
                </div>
            </div>


            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_reception/reglement_client']">
                <div class="container-block">

                    <div class="block2">
                        <span class="LabelCard">سداد النزلاء  </span>
                        <p class="LabelCardDetails"> سداد النزلاء ...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-coins"></i>
                    </div>
                </div>
            </div>


            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_reception/list_chambre']">
                <div class="container-block">

                    <div class="block2">
                        <span class="LabelCard">قائمة الغرف </span>
                        <p class="LabelCardDetails"> قائمة الغرف ...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                    <div *ngIf="HaveRegFacturePresNonApprouver" class="block3">
                        <p-tag icon="pi pi-exclamation-triangle" severity="warning" value="Warning" />
                    </div>
                </div>
            </div>
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_reception/edtion_reception']">
                <div class="container-block">

                    <div class="block2">
                        <span class="LabelCard">تقارير  </span>
                        <p class="LabelCardDetails">تقارير ...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-print"></i>
                    </div>
                </div>
            </div>
       
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_reception/cloture_session']">
                <div class="container-block">

                    <div class="block2">
                        <span class="LabelCard">إقفال خزينة</span>
                        <p class="LabelCardDetails"> إقفال خزينة...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                </div>
            </div>

            
  
  
      <!--  <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametrage/taux_change']">
          <div class="container-block">
           
            <div class="block2">
              <span>سعر الصرف </span>
              <p>سعر الصرف...</p>
            </div>
            <div class="block1">
              <i class="fa-solid fa-file-invoice-dollar"></i>
            </div>
          </div>
        </div> -->


        </div>
    </div>
</div>

<!-- <div *ngIf="showCaisse">
    <router-outlet (activate)="closeCaisse()"></router-outlet> 
  </div> -->